@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Samostalna trgovinska radnja </h1>

</div>


<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Pocetna strana/css/lightbox.css" rel="stylesheet" />
</head>
<body>

    <a href="~/Slike radnje/1.jpg" data-lightbox="Radnja" data-tittle="Violine">
        <img src="~/Slike radnje/1.jpg" width="200" height="200" />
    </a>
    <a href="~/Slike radnje/2.jpg" data-lightbox="Radnja" data-tittle="Sintisajzer">
        <img src="~/Slike radnje/2.jpg" width="200" height="200" />
    </a>
    <a href="~/Slike radnje/3.jpg" data-lightbox="Radnja" data-tittle="Klavir">
        <img src="~/Slike radnje/3.jpg" width="200" height="200" />
    </a>
    <a href="~/Slike radnje/4.jpg" data-lightbox="Radnja" data-tittle="Gitare">
        <img src="~/Slike radnje/4.jpg" width="200" height="200" />
    </a>
    <a href="~/Slike radnje/5.gif" data-lightbox="Radnja" data-tittle="Bubnjevi">
        <img src="~/Slike radnje/5.gif" width="200" height="200" />
    </a>


</body>
</html>
